@model TanvirArjel.ExceptionHandler.ExceptionModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExceptionModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ControllerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ControllerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExceptionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExceptionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InnerExceptionMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InnerExceptionMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StackTrace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StackTrace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFixed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFixed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExceptionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
